      <details>
        <summary><h2 class='section-title-collapsible'>About Me</h2></summary>
        <section id='about-me'>
          <hr class='collapsed-hr'>
          <div class='date-content-box'>
            <div class='my-dates'>Birth Year</div>
            <div class='content'>
              <h4>{{ birth_year }}</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>MBTI Type</div>
            <div class='content'>
              <h4>INTJ-T as a teenager ... ENTJ-T as a man</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Hobbies</div>
            <div class='content'>
              <h4>{{ hobbies | join(', ') }}</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Favorite Artists</div>
            <div class='content'>
              <h4>{{ favorite_artists | join(', ') }}</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Favorite Music</div>
            <div class='content'>
              <h4>{{ favorite_music | join(', ') }}</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Favorite Books</div>
            <div class='content'>
              <h4>Discourses on Livy (Machiavelli), The Count of Monte Cristo (Dumas), Paradise Lost (Milton), Endurance (Lansing), Redwall series (Jacques)</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Favorite Show</div>
            <div class='content'>
              <h4>The Sopranos</h4>
            </div>
          </div>
        </section>
      </details>
