      <h2 class='section-title' vocab='http://schema.org/' typeof='Person'>Awards</h2>
      <section class='awards'>
        <hr>
        <div class='date-content-box'>
          <div class='my-dates'>Oct 2024</div>
          <div class='content'>
            <h4>Top 2% Downloaded Author, <a href='https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=5883155'><i>Social Science Research Network (SSRN)</i></a></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Apr 2024</div>
          <div class='content'>
            <h4>Outstanding Doctoral Student, Electrical Engineering and Computer Science, <i>Embry-Riddle Aeronautical University</i></h4>
          </div>
        </div>
        <div class='double-column' id='awards-double'>
          <div class='column' id='awards-column1'>
            <div class='date-content-box'>
              <div class='my-dates'>Aug 2020 - Nov 2025</div>
              <div class='content'>
                <h4>Science, Mathematics, and Research for Transformation (SMART) Scholarship - Department of Defense, <i>Sponsored through the Air Force Research Lab (AFRL), Rome, NY</i></h4>
                <ul>
                  <li>Consistent summer research work with the nation's top information analysts, artificial intelligence experts and data visualization scientists at the Information Directorate of the AFRL</li>
                  <li>Mentorship by some of the nation's leading <b>Semantic Web</b> and <b>Linked Data</b> experts, including <a href='https://www.linkedin.com/in/nicholasdelrio/' property='colleague'>Dr. Nicholas Del Rio</a> and <a href='https://www.linkedin.com/in/tim-lebo-73b2721/' property='colleague'>Dr. Timothy Lebo</a></li>
                  <li>Full tuition payment, annual stipend, internships and continued work after graduation</li>
                </ul>
              </div>
            </div>
          </div>
          <div class='column' id='awards-column2'>
            <img src='icons/afrl.png' alt='Air Force Research Lab logo'>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Aug 2016 - May 2020</div>
          <div class='content'>
            <h4>Diamond Eagle Scholarship, <i>Embry-Riddle Aeronautical University</i></h4>
            <ul>
              <li>Highest-obtainable scholarship for new ERAU students</li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>May 2016</div>
          <div class='content'>
            <h4>The Florida Bright Future Scholarship - Academic Scholar Award, <i>FSCJ & TCA</i></h4>
          </div>
        </div>
      </section>
