      <details>
        <summary><h2 class='section-title-collapsible'>Notable Citations</h2></summary>
        <hr class='collapsed-hr'>
        <section id='clearances'>
          <div class='date-content-box'>
            <div class='my-dates'>Feb 2025</div>
            <div class='content'>
              <h4>Cited by a <a href='https://dl.acm.org/doi/abs/10.1145/3677052.3698671'>BlackRock + NVIDIA paper</a></h4>
            </div>
          </div>
        </section>
      </details>
