      <details>
        <summary><h2 class='section-title-collapsible'>Dated Things</h2></summary>
        <section id='dated-things'>
          <hr class='collapsed-hr'>
          <h3 class='section-subtitle'>This section...</h3>
          <p>... is my attempt at documenting some of my very oldest achievements. They are not necessarily relevant now, but in the interest of completeness, I am including it all here.</p>
          <h3 class='section-subtitle'>Quantifications</h3>
{% for item in dated_things.quantifications %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ item.label }}</div>
            <div class='content'>
              <h4>{{ item.description }}</h4>
            </div>
          </div>
{% endfor %}
          <h3 class='section-subtitle'>Junior High / High-School</h3>
{% for item in dated_things.junior_high %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ item.label }}</div>
            <div class='content'>
              <h4>{{ item.description }}</h4>
            </div>
          </div>
{% endfor %}
          <h3 class='section-subtitle'>Elementary School</h3>
{% for item in dated_things.elementary %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ item.label }}</div>
            <div class='content'>
              <h4>{{ item.description }}</h4>
            </div>
          </div>
{% endfor %}
        </section>
      </details>
