      <section id='education' vocab='http://schema.org/' typeof='Person'>
        <h2 class='section-title'>Education</h2>
        <hr>
        <div class='date-content-box'>
          <div class='my-dates'>Aug 2020 - May 2025</div>
          <div class='content'>
            <h4>Doctorate of Philosophy in Computer Science and Electrical Engineering, <a href='https://commons.erau.edu/edt/898/'><i>On the Provenance of Software Systems: Automating Software Traceability with Knowledge Graph and Large Language Model Synergy</i></a> - <b>4.0</b>/4.0 GPA, <i>Embry Riddle Aeronautical University (ERAU), Daytona Beach, FL</i></h4>
            <ul>
              <li>
                Doctoral advisor: <a href='https://www.linkedin.com/in/omar-ochoa-30a2a61b/' property='colleague'>Dr. Omar Ochoa</a>
              </li>
              <li>
                Dissertation content: <a href='https://github.com/PR0CK0/ProvTracer' property='colleague'>ProvTracer GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Aug 2023 - Dec 2023</div>
          <div class='content'>
            <h4>Master of Science in Software Engineering, with distinction, <a href='https://commons.erau.edu/edt/784/'><i>Towards Agile Academia: An Approach to Scientific Paper Writing Inspired by Software Engineering</a>, ERAU Daytona</i></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Aug 2016 - May 2020</div>
          <div class='content'>
            <h4>Bachelor of Science in Software Engineering, Summa Cum Laude, Minor in Cybersecurity Engineering - <b>3.93</b>/4.0 GPA, <i>ERAU Daytona</i></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>June 2014 - May 2016</div>
          <div class='content'>
            <h4>Associate in Arts - <b>4.0</b>/4.0 GPA with high honors, <i>Florida State College at Jacksonville</i></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Aug 2010 - May 2016</div>
          <div class='content'>
            <h4>High School Diploma - <b>3.0</b>/3.0 GPA as <b>salutatorian</b>, <i>Trinity Christian Academy, Jacksonville, FL</i></h4>
          </div>
        </div>
      </section>
