      <details>
        <summary><h2 class='section-title-collapsible'>Extracurriculars</h2></summary>
        <hr class='collapsed-hr'>
        <h3 class='section-subtitle'>Scholarly</h3>
        {% for entry in extracurriculars | selectattr('type', 'equalto', 'scholarly') %}
        <div class='date-content-box'>
          <div class='my-dates'>{{ entry.date_display }}</div>
          <div class='content'>
            <h4>{{ entry.h4 }}</h4>
            {% if entry.bullets is defined %}
            <ul>
              {% for bullet in entry.bullets %}
              <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        <h3 class='section-subtitle'>Organizations</h3>
        {% for entry in extracurriculars | selectattr('type', 'equalto', 'organization') %}
        <div class='date-content-box'>
          <div class='my-dates'>{{ entry.date_display }}</div>
          <div class='content'>
            <h4>{{ entry.h4 }}</h4>
            {% if entry.bullets is defined %}
            <ul>
              {% for bullet in entry.bullets %}
              <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        <h3 class='section-subtitle'>Volunteer</h3>
        {% for entry in extracurriculars | selectattr('type', 'equalto', 'volunteer') %}
        <div class='date-content-box'>
          <div class='my-dates'>{{ entry.date_display }}</div>
          <div class='content'>
            <h4>{{ entry.h4 }}</h4>
            {% if entry.bullets is defined %}
            <ul>
              {% for bullet in entry.bullets %}
              <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </details>
