      <details>
        <summary><h2 class='section-title-collapsible'>Extracurriculars</h2></summary>
        <hr class='collapsed-hr'>
        <h3 class='section-subtitle'>Scholarly</h3>
        <div class='date-content-box'>
          <div class='my-dates'>Mar 2026</div>
          <div class='content'>
            <h4>Manuscript reviews</h4>
            <ul>
              <li>Reviewer (1 manuscript) - <i>Concurrency and Computation: Practice and Experience, Wiley</i></li>
              <li>Reviewer (1 manuscript) - <i>AI and Ethics, Springer Nature</i></li>
              <li>Reviewer (1 manuscript) - <i>Discover Education, Springer Nature</i></li>
              <li>Reviewer (1 manuscript) - <i>Discover Computing, Springer Nature</i></li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Jan 2026</div>
          <div class='content'>
            <h4>Manuscript reviews</h4>
            <ul>
              <li>Reviewer (1 manuscript) - <i>Discover Artificial Intelligence, Springer Nature</i></li>
              <li>Reviewer (1 manuscript) - <i>Computing, Springer Nature</i></li>
              <li>Reviewer (1 manuscript) - <i>Discover Education, Springer Nature</i></li>
              <li>Reviewer (1 manuscript) - <i>Archives of Dermatological Research, Springer Nature</i></li>
              <li>Reviewer (1 article) - <i><a href='https://www.qeios.com/profile/105985'>Qeios</a></i></li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Dec 2025</div>
          <div class='content'>
            <h4>Manuscript reviews</h4>
            <ul>
              <li>Reviewer (2 manuscripts) - <i>Discover Artificial Intelligence, Springer Nature</i></li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Nov 2025</div>
          <div class='content'>
            <h4>Manuscript reviews</h4>
            <ul>
              <li>Reviewer (1 manuscript) - <i>Journal of Visualized Experiments (JoVE)</i></li>
              <li>Reviewer (2 manuscripts) - <i>Discover Education, Springer Nature</i></li>
              <li>Reviewer (5 manuscripts) - <i>Discover Artificial Intelligence, Springer Nature</i></li>
              <li>Reviewer (2 manuscripts) - <i>Computing, Springer Nature</i></li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Nov 2025</div>
          <div class='content'>
            <h4>Creator - <i><a href='https://github.com/PR0CK0/CompTIA-Security-Study-Guides'>CompTIA Security+ SYS-701 Study Guide Dump</a></i></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Jan 2025</div>
          <div class='content'>
            <h4>Manuscript reviews</h4>
            <ul>
              <li>Reviewer (1 manuscript) - <i>Wireless Communications Magazine, IEEE</i></li>
              <li>Reviewer (2 manuscripts) - <i>Discover Computing, Springer Nature</i></li>
            </ul>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Nov 2024</div>
          <div class='content'>
            <h4>Reviewer (1 manuscript) - <i>Discover Artificial Intelligence, Springer Nature</i></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Mar 2024</div>
          <div class='content'>
            <h4>Reviewer (4 manuscripts) - <i>2024 IEEE ASEE Frontiers in Education (FIE)</i></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Jan 2024</div>
          <div class='content'>
            <h4>Participated in public review of the <a href='https://www.computer.org/education/bodies-of-knowledge/software-engineering/v4'>SWEBOK v4 guide</a></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>May 2023</div>
          <div class='content'>
            <h4>Contributor to the <a href='https://github.com/monarch-initiative/ontogpt'>DAIR Prompt Engineering Guide</a></h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>May 2023</div>
          <div class='content'>
            <h4>Contributor to the <a href='https://github.com/dair-ai/Prompt-Engineering-Guide'>OntoGPT</a> Github</h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Apr 2023</div>
          <div class='content'>
            <h4>Contributor to the <a href='https://github.com/zhengzangw/awesome-huge-models'>Huge AI Models</a> Github</h4>
          </div>
        </div>
        <div class='date-content-box'>
          <div class='my-dates'>Mar 2023</div>
          <div class='content'>
            <h4>Reviewer (2 manuscripts) - <i>2023 IEEE ASEE Frontiers in Education (FIE)</i></h4>
          </div>
        </div>
          <div class='date-content-box'>
            <div class='my-dates'>Nov 2022</div>
            <div class='content'>
              <h4>Contributor to <i>Practical Natural Language Processing</i> (Vajalla et al.) errata </h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>July 2022</div>
            <div class='content'>
              <h4>Contributor to the Common Core Ontologies</h4>
              <ul>
                <li>Provided clarification of term definitions and term spelling in the official Common Core Ontologies Github repository</li>
              </ul>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>July 2022</div>
            <div class='content'>
              <h4>Contributor to the Semantalytics Awesome Semantic Web list</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>June 2022</div>
            <div class='content'>
              <h4>Created a summarized list of <a href='https://github.com/PR0CK0/awesome-bfo'>BFO and BFO-related resources</a> for other researchers</h4>
            </div>
          </div>

          <h3 class='section-subtitle'>Organizations</h3>
          <div class='date-content-box'>
            <div class='my-dates'>Sep 2023 - Present</div>
            <div class='content'>
              <h4>IEEE - Member (#98174383)</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Dec 2021 - Present</div>
            <div class='content'>
              <h4>American Society for Engineering Education - Member</h4>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Jan 2019 - Jan 2020</div>
            <div class='content'>
              <h4>White Hat Eagles Cybersecurity Club (WHECS) - Member</h4>
              <ul>
                <li>Learned the principles of cybersecurity through weekly lectures taught from the CompTIA Security+ book</li>
                <li>Engaged in several hands-on activities dealing with hacking</li>
              </ul>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Aug 2018 - Jan 2019</div>
            <div class='content'>
              <h4>Embry-Riddle Artificial Intelligence Club - Member</h4>
              <ul>
                <li>Worked with genetic algorithms in a variety of scenarios</li>
              </ul>
            </div>
          </div>

          <h3 class='section-subtitle'>Volunteer</h3>
          <div class='date-content-box'>
            <div class='my-dates'>Nov 2023 - Present</div>
            <div class='content'>
              <h4>Audio/Visual Technician, <i>River Road Baptist Church, Hilliard, FL</i>
              </h4>
              <ul>
                <li>Ensured A/V quality for worship and sermon services using ProPresenter, vMix, StageMix and MonitorMix for an in-person audience of ~100 and a livestream audience of ~10</li>
              </ul>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Jan 2014 - Present</div>
            <div class='content'>
              <h4>Personal Computer Construction Consultant, <i>Remote/In-Person</i>
              </h4>
              <ul>
                <li>Assisted personal contacts with computer construction and computer setup</li>
                <li>Resolved computer, network, software and peripheral issues</li>
              </ul>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Pre-2016 - 50+ hours</div>
            <div class='content'>
              <h4>All-rounder, <i>Nassau County Public Library</i></h4>
              <ul>
                <li>Labeling and returning books, assisting customers; periodic maintenance of the library database software</li>
              </ul>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Pre-2016 - 100+ hours</div>
            <div class='content'>
              <h4>Shrimp Fest Worker, <i>Prince of Peace Lutheran Church</i></h4>
              <ul>
                <li>Preparing food, cashiering and assisting customers</li>
              </ul>
            </div>
          </div>
          <div class='date-content-box'>
            <div class='my-dates'>Pre-2016 - 10+ hours</div>
            <div class='content'>
              <h4>Class Ambassador, <i>Hugh O'Brian Youth Leadership Program</i></h4>
              <ul>
                <li>Selected as one out of 200+ students to represent my high-school in a leadership summit</li>
                <li>Learned effective interpersonal relational, communication and leadership skills</li>
              </ul>
            </div>
          </div>
      </details>
