  <footer>
    <div class='footer-column'>
      <p class='footer-text'>Proudly hosted for free with Github Pages.</p>
      <p class='footer-text-fun'>Every line written by hand with pure HTML and CSS.</p>
      <p class='footer-text-fun'>Site last updated: 03/26/2026</p>
      <div class='bottom-icon-bar'>
        <a href='https://validator.w3.org/check?uri=pr0ck0.github.io' class='bottom-icon'>
          <img src='icons/valid-html40.png' alt='W3C HTML 4.0 Validator logo'>
        </a>
        <a href='http://linter.structured-data.org/?url=https:%2F%2Fwww.procko.pro' class='bottom-icon'>
          <img src='icons/sw-rdfa-blue.png' alt='W3C RDFa logo'>
        </a>
      </div>
      <div class='bottom-icon-bar'>
        <a href='https://notbyai.fyi' class='bottom-icon'>
          <img src='icons/wbh.png' alt='NotByAI logo'>
        </a>
      </div>
    </div>
    </div>

  </footer>
