    <div class='header' vocab='http://schema.org/' typeof='Person'>
      <div id='header-img'>
        <img src='icons/riddle.png' alt='Embry-Riddle Aeronautical University logo'>
      </div>
      <div class='header-left'>
        <h1 id='name' property='name'>{{ name }}</h1>
        <h2 id='cv'>Curriculum Vitae</h2>
        <a href='https://orcid.org/{{ orcid }}' id='orcid'>ORCiD: {{ orcid }}</a>
      </div>
      <div class='header-right'>
        <div class='header-element'>
          <p class='header-element-content' id='location' property='addressRegion'>{{ location }}</p>
        </div>
        <div class='header-element'>
          <p class='header-element-content' id='phone' property='telephone'>{{ phone }}</p>
        </div>
        <div class='header-element'>
          <a href='mailto:{{ email_personal }}' class='contact-btn' property='email'>
            <img class='icon' src='icons/gmail.png' alt='Gmail logo'>
            <div class='tooltip'>Contact me via Gmail at {{ email_personal }}.</div>
          </a>
          <a href='mailto:{{ email_academic }}' class='contact-btn' property='email'>
            <img class='icon' src='icons/outlook.png' alt='MS Outlook logo'>
            <div class='tooltip'>Contact me via Outlook at {{ email_academic }}.</div>
          </a>
        </div>
      </div>
      <div class='header-right'>
        <div class='header-element'>
          <a href='https://www.linkedin.com/in/tylerprocko' class='acc-btn' property='url'>
            <img class='icon' src='icons/linkedin.png' alt='Linkedin logo'>
            <div class='tooltip'>Go to my LinkedIn profile.</div>
          </a>
        </div>
        <div class='header-element'>
          <a href='https://www.github.com/pr0ck0' class='acc-btn' property='url'>
            <img class='icon' src='icons/github.png' alt='GitHub logo'>
            <div class='tooltip'>Go to my GitHub page.</div>
          </a>
        </div>
        <!--
        <div class='header-element'>
          <a href='https://www.researchgate.net/profile/Tyler_Procko' class='acc-btn' property='url'>
            <img class='icon' src='icons/rg.png' alt='ResearchGate logo'>
            <div class='tooltip'>Go to my ResearchGate publications page.</div>
          </a>
        </div>
        -->
        <div class='header-element'>
          <a href='https://scholar.google.com/citations?user=Xm7p7mQAAAAJ&hl=en' class='acc-btn' property='url'>
            <img class='icon' src='icons/gs.png' alt='Google Scholar logo'>
            <div class='tooltip'>Go to my Google Scholar publications page.</div>
          </a>
        </div>
      </div>
      <div class='header-right'>
        <div class='header-element'>
          <a href='mailto:prockotyler@gmail.com?subject=Join my Slack Workspace&body=Open your Slack app and invite me by my email, prockotyler@gmail.com' class='contact-btn' property='email'>
            <img class='icon' src='icons/slack.png' alt='Slack logo'>
            <div class='tooltip'>Invite me in Slack by adding prockotyler@gmail.com.</div>
          </a>
        </div>
        <div class='header-element'>
          <a href='https://www.upwork.com/freelancers/~01a0532dff7b928594' class='acc-btn' property='url'>
            <img class='icon' src='icons/upwork.png' alt='Upwork logo'>
            <div class='tooltip'>Go to my Upwork profile.</div>
          </a>
        </div>
        <div class='header-element'>
          <a href='https://www.fiverr.com/ytboi1' class='acc-btn' property='url'>
            <img class='icon' src='icons/fiverr.png' alt='Linkedin logo'>
            <div class='tooltip'>Go to my Fiverr profile.</div>
          </a>
        </div>
      </div>
    </div>

    <!--
    <div class='availability-subheader' vocab='http://schema.org/' typeof='Person'>
      <div id='availability-title'>
        <p id='availability-semester'>Availability Spring 2023</p>
        <p id='availability-timezone' property='scheduleTimezone'>Eastern Time, UTC-5</p>
      </div>
      <p><span property='businessDays'>MonSatSun</span> - <span property='hoursAvailable'>07:00-20:00</span></p>
      <p><span property='businessDays'>TueThu</span> - <span property='hoursAvailable'>13:00-20:00</span></p>
      <p><span property='businessDays'>Fri</span> - <span property='hoursAvailable'>07:00-16:00</span></p>
    </div>
    -->

    <div id='tagline' vocab='http://schema.org/'>
      <p>{{ tagline }}</p>
    </div>

    <div class='availability-subheader' vocab='http://schema.org/' typeof='Person'>
      <div id='availability-title'>
        <p id='availability-semester'>Availability Spring 2026</p>
        <p id='availability-timezone' property='scheduleTimezone'>Eastern Time, UTC-5</p>
      </div>
      <p><span property='businessDays'>TueThu</span> - <span property='hoursAvailable'>07:00-20:00</span></p>
      <p><span property='businessDays'>SatSun</span> - <span property='hoursAvailable'>11:00-20:00</span></p>
    </div>

    <div id='pages'>
      <a href='index.html#top'>Main</a>
      <a href='resources/resources.html'>Resources</a>
      <a href='personal/personal.html'>Personal</a>
    </div>
