<head>
  <title>Tyler Procko - Curriculum Vitae</title>
  <link rel='stylesheet' href='index.css'>
  <link rel='stylesheet' href='header.css'>
  <link rel='icon' href='favicon.ico'>

  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>

  <meta name='description' content='The CV of Tyler Procko. Ontologist, GenAI researcher, and scientific writer. PhD in EECS.'>
  <meta name='keywords' content='ontology, linked data, software engineering, embry riddle, afrl, procko'>
  <meta name='author' content='Tyler Procko'>
</head>
