    <section id='interests'>
      <img src='icons/java.png' alt='Java logo'>
      <img src='icons/python.png' alt='Python logo'>
      <img src='icons/htmlcss.png' alt='HTML/CSS logo'>
      <img src='icons/git.png' alt='Git logo'>
      <img src='icons/jira.png' alt='Jira logo'>
      <img src='icons/vscode.png' alt='Visual Studio Code logo'>
      <img src='icons/eclipse.png' alt='Eclipse logo'>
      <img src='icons/office.png' alt='Microsoft Office logo'>
      <img src='icons/tableau.png' alt='Tableau logo'>
      <img src='icons/drawio.png' alt='draw.io, or diagrams.net, logo'>
      <img src='icons/agile.png' alt='Agile logo'>
      <img src='icons/sw.png' alt='W3C Semantic Web logo'>
      <img src='icons/rdf.png' alt='W3C RDF logo'>
      <img src='icons/owl.png' alt='W3C OWL logo'>
      <img src='icons/sparql.png' alt='W3C SPARQL logo'>
      <img src='icons/shacl.png' alt='W3C SHACL logo'>
      <img src='icons/rdfa.png' alt='W3C RDFa logo'>
      <img src='icons/jsonld.png' alt='W3C JSON-LD logo'>
      <img src='icons/bfo.png' alt='BFO Inside logo'>
      <img src='icons/sumo.png' alt='SUMO logo'>
      <img src='icons/wordnet.png' alt='WordNet logo'>
      <img src='icons/graphdb.png' alt='GraphDB logo'>
      <img src='icons/stardog.png' alt='Stardog logo'>
      <!--img src='icons/triply.png' alt='Triply logo'>-->
      <img src='icons/protege.png' alt='Protege logo'>
      <img src='icons/openai.png' alt='OpenAI logo'>
      <img src='icons/claude.png' alt='Claude AI logo'>
      <img src='icons/pytorch.png' alt='PyTorch logo'>
      <img src='icons/huggingface.png' alt='Hugging Face logo'>
      <img src='icons/ollama.png' alt='Ollama logo'>
      <!--<img src='icons/w3c.png' alt='W3C Evangelist logo'>-->
    </section>
