      <details>
        <summary><h2 class='section-title-collapsible'>Relevant Literacy</h2></summary>
        <section id='literacy'>
          <h3 class='section-subtitle'>Not including reviewed scientific literature</h3>
          <hr class='collapsed-hr'>
{% for book in literacy %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ book.date }}</div>
            <div class='content'>
              <h4><i>{{ book.title }}</i>, {{ book.author }}</h4>
            </div>
          </div>
{% endfor %}
        </section>
      </details>
