      <details>
        <summary><h2 class='section-title-collapsible'>Projects</h2></summary>
        <section id='projects'>
          <hr class='collapsed-hr'>
          {% for proj in projects %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ proj.date_display }}</div>
            <div class='content'>
              {% if proj.url is defined %}
              <h4><a href='{{ proj.url }}'>{{ proj.title }}</a> - <i>{{ proj.members }}</i></h4>
              {% else %}
              <h4>{{ proj.title }} - <i>{{ proj.members }}</i></h4>
              {% endif %}
              <ul>
                {% for bullet in proj.bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
                {% if proj.extra_bullets is defined %}
                {% for eb in proj.extra_bullets %}
                <li>{{ eb.prefix }}<a href='{{ eb.url }}'>{{ eb.display }}</a></li>
                {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </section>
      </details>
