
      <details vocab='http://schema.org/'>
        <summary><h2 class='section-title-collapsible'>Publications</h2></summary>
        <section id='publications'>
          <hr class='collapsed-hr'>
          <h3 class='section-subtitle'>Awaiting Publication</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'awaiting_publication') %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ pub.date }}</div>
            <div class='content'>
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><a href='{{ pub.url }}'><i>{{ pub.title }}</i></a></span><i> - {{ pub.venue }}</i></h4>
            </div>
          </div>
          {% endfor %}
          <h3 class='section-subtitle'>Published</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'published') %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ pub.date | pub_date }}</div>
            <div class='content'>
              {% set disp_venue = pub.legacy_venue if pub.legacy_venue is defined else pub.venue %}
              {% if pub.close_span_before_end_link is defined %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><a href='{{ pub.url }}'><i>{{ pub.title }}</i></span></a><i> - {{ disp_venue }}</i></h4>
              {% elif pub.after_span_text is defined %}
              {% if pub.url is defined %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><a href='{{ pub.url }}'><i>{{ pub.title }}</i></a></span>{{ pub.after_span_text }}</h4>
              {% else %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><i>{{ pub.title }}</i></span>{{ pub.after_span_text }}</h4>
              {% endif %}
              {% elif pub.primary_author_position is defined and pub.primary_author_position == 'in_span' %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><a href='{{ pub.url }}'><i>{{ pub.title }}</i></a>, primary author {{ pub.primary_author }}</span><i> - {{ disp_venue }}</i></h4>
              {% elif pub.primary_author_position is defined and pub.primary_author_position == 'after_span' %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><a href='{{ pub.url }}'><i>{{ pub.title }}</i></a></span>, primary author {{ pub.primary_author }}<i> - {{ disp_venue }}</i></h4>
              {% elif pub.url is defined %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><a href='{{ pub.url }}'><i>{{ pub.title }}</i></a></span><i> - {{ disp_venue }}</i></h4>
              {% else %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><i>{{ pub.title }}</i></span><i> - {{ disp_venue }}</i></h4>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          <h3 class='section-subtitle'>In Progress</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'in_progress') %}
          <div class='date-content-box'>
            <div class='my-dates'>-</div>
            <div class='content'>
              {% if pub.primary_author_position is defined and pub.primary_author_position == 'after_span' %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><i>{{ pub.title }}</i></span>, primary author {{ pub.primary_author }}</h4>
              {% else %}
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><i>{{ pub.title }}</i></span></h4>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          <h3 class='section-subtitle'>Colleague Theses</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'colleague_thesis') %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ pub.date_display }}</div>
            <div class='content'>
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><i>{{ pub.title }}</i>, primary author {{ pub.primary_author }}, <i>{{ pub.primary_author_org }}</i></span></h4>
            </div>
          </div>
          {% endfor %}
          <h3 class='section-subtitle'>Competition Proposals</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'competition_proposal') %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ pub.date_display }}</div>
            <div class='content'>
              <h4><b>({{ pub.author_role }}): </b><a href='{{ pub.url }}'><i>{{ pub.title }}</i></a>{{ pub.after_link_text }}</h4>
            </div>
          </div>
          {% endfor %}
          <h3 class='section-subtitle'>Grant Proposals</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'grant_proposal') %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ pub.date_display }}</div>
            <div class='content'>
              <h4 typeof='TechArticle'><b>({{ pub.author_role }}): </b><span property='title'><i>{{ pub.title }}</i>{{ pub.span_suffix }}, <i>{{ pub.span_suffix_org }}</i></span></h4>
            </div>
          </div>
          {% endfor %}
          <h3 class='section-subtitle'>Articles</h3>
          {% for pub in publications | selectattr('status', 'equalto', 'article') %}
          <div class='date-content-box'>
            <div class='my-dates'>{{ pub.date_display }}</div>
            <div class='content'>
              <h4><b>({{ pub.author_role }}): </b><a href='{{ pub.url }}'><span property='title'><i>{{ pub.title }}</i></span></a>, primary author {{ pub.primary_author }}</h4>
            </div>
          </div>
          {% endfor %}
        </section>
      </details>
