      <section id='summary'>
        <h2 class='section-title'>Summary</h2>
        <hr>
        <p><b>AI / Knowledge Graph Engineer | LLM-Focused | Defense ML Provenance and Ontology Specialist</b></p>
        <ul>
          <li>Ph.D. researcher with 9+ years in Java/Python, Agile machine learning, ETL, ontology design, BFO/CCO standardization, and NLP for defense and aerospace applications. Experienced in GenAI, LLM integration, ML pipelining, RAG systems, prompt/context engineering, taxonomies, graph-based explainability, <i>modular + testable software</i>, and academic publication. Active contributor to AFRL, IEEE, and DoD FAIR AI data-standardization efforts.</li>
          <li>Claude, PyTorch, TensorFlow, Hugging Face, Ollama, Stable Diffusion, GraphDB</li>
          <li><b>U.S. Citizen, {{ clearance }} Clearance</b></li>
          <li><b>Google & Stanford Deep Learning Certified</b></li>
          <li><b>CompTIA Security+ (in-progress Nov. 2025)</b></li>
          <li>Refer to my entire <a href='#skills'>skillset</a> below. Feel free to contact me at any time.</li>
        </ul>

      </section>
