      <details>
        <summary><h2 class='section-title-collapsible'>Talks</h2></summary>
        <hr class='collapsed-hr'>
        <h3 class='section-subtitle'>Podcasts</h3>
        <section id='clearances'>
          <div class='date-content-box'>
            <div class='my-dates'>Nov 2023</div>
            <div class='content'>
              <h4><a href='https://www.linkedin.com/posts/hughseaton_tyler-procko-powering-ai-with-ontology-at-activity-7135290681022976000-EVpb?utm_source=share&utm_medium=member_desktop'>Powering AI with Ontology in Construction, </a><i>Constructed Futures with Hugh Seaton</i></h4>
            </div>
          </div>
        </section>
      </details>
