<!DOCTYPE html>

<html lang='en'>
{% include 'partials/head.html.j2' %}
<body>
  <header>
{% include 'partials/header.html.j2' %}
  </header>

  <main>
{% include 'partials/interests.html.j2' %}

    <article>
{% include 'partials/summary.html.j2' %}

{% include 'partials/education.html.j2' %}

{% include 'partials/awards.html.j2' %}

{% include 'partials/publications.html.j2' %}

{% include 'partials/experience.html.j2' %}
{% include 'partials/projects.html.j2' %}

{% include 'partials/citations.html.j2' %}

{% include 'partials/talks.html.j2' %}

{% include 'partials/clearances.html.j2' %}

{% include 'partials/certificates.html.j2' %}

{% include 'partials/extracurriculars.html.j2' %}

{% include 'partials/standards.html.j2' %}

{% include 'partials/courses.html.j2' %}

{% include 'partials/skills.html.j2' %}

{% include 'partials/references.html.j2' %}

{% include 'partials/literacy.html.j2' %}
{% include 'partials/dated_things.html.j2' %}
{% include 'partials/about_me.html.j2' %}
    </article>
  </main>

  <hr>

{% include 'partials/footer.html.j2' %}
</body>
</html>

<!--

  https://www.w3.org/TR/rdfa-lite/
  https://www.w3.org/2005/11/MWI-Icons/
  https://www.w3.org/2007/10/sw-logos.html
  https://validator.w3.org/docs/help.html#manual
  https://www.w3.org/QA/Tools/Icons
-->
